@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
html {
  font-size: 62.5%;
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 75%;
  }
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Manrope", sans-serif;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  background-color: hsl(210deg, 46%, 95%);
  display: grid;
  place-content: center;
  gap: 2rem;
  padding: 1.5rem;
}

.main {
  max-width: 40rem;
  min-width: 34rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.img--container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.content--container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-top: 3.5rem;
}
@media only screen and (min-width: 900px) {
  .main {
    flex-direction: row;
    max-width: 95rem;
    padding: 0;
  }
  .img--container {
    width: 36%;
  }
  .content--container {
    width: 64%;
    align-content: space-evenly;
  }
  .img--container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center left;
       object-position: center left;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 0;
  }
}
.title, .desc {
  margin-inline: 3.5rem;
}

.title {
  color: hsl(217deg, 19%, 35%);
  font-weight: 700;
  font-size: 1.25em;
}

@media only screen and (min-width: 900px) {
  .title {
    font-size: 1.5em;
  }
}
.desc {
  color: hsl(214deg, 17%, 51%);
}

.social-container {
  position: relative;
}

.person {
  display: grid;
  grid-template-columns: 3.5rem 5.5rem 1fr 3.5rem;
  row-gap: 0.2rem;
  padding-bottom: 1rem;
}
.person-picture {
  width: 100%;
  grid-column: 2/3;
  grid-row: 1/span 2;
  border-radius: 100rem;
  align-self: center;
  transform: translateY(0.5rem);
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}
.person-name {
  grid-column: 3/4;
  grid-row: 1/2;
  align-self: flex-end;
  transform: translateX(2rem);
  color: hsl(217deg, 19%, 35%);
  font-weight: 700;
}
.person-bday {
  grid-column: 3/3;
  grid-row: 2/2;
  align-self: flex-start;
  transform: translateX(2rem);
  color: hsl(212deg, 23%, 69%);
}

.social {
  grid-column: 1/-1;
  padding-block: 2.8rem;
  display: flex;
  gap: 2.2rem;
  background-color: hsl(217deg, 19%, 35%);
  padding-inline: 3.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.social-share {
  color: hsl(212deg, 23%, 69%);
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  font-weight: 500;
}
.social-icons {
  color: white;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
}

@media only screen and (min-width: 900px) {
  .person-picture {
    margin-top: 0;
  }
  .social {
    position: relative;
    border-radius: 1rem;
    position: absolute;
    top: -8.2rem;
    right: 0rem;
    transform: translateX(31%);
    padding-block: 2rem;
    padding-inline: 4.5rem;
  }
  .social::after {
    position: absolute;
    content: "";
    display: block;
    width: 3rem;
    height: 3rem;
    bottom: -2.9rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(217deg, 19%, 35%);
    -webkit-clip-path: polygon(50% 65%, 0 0, 100% 0);
            clip-path: polygon(50% 65%, 0 0, 100% 0);
  }
}
.icon-share {
  position: absolute;
  right: 3.5rem;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.2rem;
  background-color: hsl(210deg, 46%, 95%);
  border-radius: 100rem;
  width: 4.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 300px) {
  .title, .desc {
    margin-inline: 2rem;
  }
  .social {
    padding-inline: 2rem;
  }
  .person {
    grid-template-columns: 2rem 5.5rem 1fr 2rem;
  }
  .icon-share {
    position: absolute;
    right: 2rem;
  }
}
.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media only screen and (max-width: 900px) {
  .hidden {
    display: none;
  }
}
@media only screen and (min-width: 900px) {
  .hidden-desktop {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */